{% load i18n %}{% autoescape off %}{% load value_from_settings %}{% value_from_settings "DOMAIN" as domain %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at. http://agriculture.tk{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://theagriculture.tk/reset-password?uid={{ uid }}&token={{ token }}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{user.username}}

{% trans "Thanks for using our site!" %}

{% blocktrans %}Agriculture Haryana{% endblocktrans %}

{% endautoescape %}